* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0e0e0e;
  color: #eaeaea;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo {
  letter-spacing: 3px;
  font-weight: 600;
}

.header a {
  color: #ccc;
  margin-left: 30px;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.55)
    ),
    url("https://images.unsplash.com/photo-1615874959474-d609969a20ed")
    center/cover;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 2px;
}

.hero p {
  margin: 20px 0 40px;
  color: #b5b5b5;
  font-size: 16px;
}

.btn {
  padding: 14px 40px;
  border: 1px solid #c9a24d;
  color: #c9a24d;
  text-decoration: none;
  font-size: 14px;
}

/* COLLECTION */
.collection {
  padding: 100px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: 0.6s;
}

.card:hover img {
  transform: scale(1.08);
}

.card-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.card-info h3 {
  font-weight: 400;
  letter-spacing: 1px;
}

.card-info span {
  font-size: 13px;
  color: #c9a24d;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 22px;
  border: 1px solid #c9a24d;
  color: #c9a24d;
  text-decoration: none;
  font-size: 13px;
  background: transparent;
}

/* FOOTER */
.footer {
  padding: 40px;
  text-align: center;
  font-size: 13px;
  color: #777;
}

.footer a {
  color: #c9a24d;
  text-decoration: none;
}
.admin {
  padding: 100px;
}

.admin h1 {
  font-weight: 300;
  margin-bottom: 40px;
}

.admin-card {
  background: #151515;
  padding: 30px;
  margin-bottom: 30px;
}

.admin-card input,
.admin-card button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #0e0e0e;
  border: 1px solid #333;
  color: #ccc;
}
.hero-content,
.card,
.product-info {
  animation: fadeUp 1.2s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
